In [1]:
import re

In [162]:
m = re.findall(r'([0-9])(\1+)', '122333')

In [163]:
m

[('2', '2'), ('3', '33')]

In [98]:
def validate(number_as_string):
    r = re.search(r'([0-9])\1', number_as_string)
    if r is None:
        return False
    cur_digit = 0
    for digit in [int(d) for d in number_as_string]:
        if digit < cur_digit:
            return False
        cur_digit = digit
    return True

In [49]:
valid = []
for x in range(172851,675870):
    if validate(str(x)):
        valid.append(x)

In [50]:
len(valid)

1660

In [52]:
valid[-10:]

[667799,
 667888,
 667889,
 667899,
 667999,
 668888,
 668889,
 668899,
 668999,
 669999]

In [194]:
def validate2(number_as_string):
    r = re.findall(r'([0-9])(\1+)', number_as_string)
    if len(r) == 0:
        return False
    mult = []
    for x in r:
        if len(x[1]) > 1:
            mult.append(False)
        else:
            mult.append(True)
    if not any(mult):
        return False
    cur_digit = 0
    for digit in [int(d) for d in number_as_string]:
        if digit < cur_digit:
            return False
        cur_digit = digit
    return True

In [195]:
valid = []
for x in range(172851,675870):
    if validate2(str(x)):
        valid.append(x)

In [196]:
len(valid)

1135

In [193]:
validate2('112222')

('1', '1')
('2', '222')
[True, False]

True

In [199]:
valid[:20]

[177788,
 177799,
 177888,
 177889,
 177899,
 177999,
 178899,
 188899,
 188999,
 222233,
 222244,
 222255,
 222266,
 222277,
 222288,
 222299,
 222334,
 222335,
 222336,
 222337]